.backButton { 
    position: absolute;
    font-size: 26px;
    left: 450px; 
    top: 145px;
    background-color: rgb(3,3,180);
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px;
  }
  
.GameContent {
    background-color: rgb(3,3,180);
    border: 2px solid white;
    border-radius: 8px;
    padding: 16px 12px;
    display: flex;
    position: relative;
    left: 350px;
    top: 100px;
    max-width: 600px;
    min-width: 400px;
    max-height: 700px;
    min-height: 600px;
    justify-content: center;
    align-items: center;
}

.LogRegTitle, .LogTitle, .RegTitle, .GameTitle, .EditTitle {
    text-shadow: 1px 1px solid black;
    position: relative;
    font-size: 30px;
    bottom: 150px;
    white-space: nowrap;
}

.LogRegTitle {
    left: 140px;
}

.LogTitle {
    left: -5px;
}

.RegTitle {
    left: 15px;
    top: -100px;
}

.GameTitle {
    bottom: 275px;
    left: 300px;
}

.EditTitle {
    left: 50px;
    bottom: 200px;
}

.LogMsg, .RegMsg, .GameMsg {
   position: relative;
   white-space: nowrap;
}

.LogMsg {
    bottom: 100px;
    left: -5px;
}

.RegMsg {
    bottom: 50px;
}

.GameMsg {
    left: 30px;
    bottom: 240px;  
}

/* Move to other files!! */
table {
    margin-bottom: 12px;
    font-size: 22px;
}

#games {
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px;
}

th {
    padding: 8px;
}

td {
    outline: 2px solid white;
    border-radius: 4px;
    padding: 6px;
}

@media screen and (min-width: 1400px) and (max-width: 1700px) {
    .GameContent {
        left: 400px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
    .GameContent {
        left: 400px;
    }

    .backButton {
        left: 300px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .GameContent {
        left: 350px;
    }

    .backButton {
        left: 250px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .GameContent {
        left: 300px;
    }

    .backButton {
        left: 200px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    .GameContent {
        left: 250px;
    }

    .backButton {
        left: 150px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .GameContent {
        left: 200px;
    }

    .backButton {
        left: 100px;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .GameContent {
        left: 100px;
    }

    .backButton {
        left: 15px;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .GameContent {
        left: 150px;
        max-width: 500px;
        min-width: 400px;
    }

    .backButton {
        left: 50px;
    }

    .LogRegTitle {
       left: 125px;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .GameContent {
        left: 100px;
        max-width: 470px;
        min-width: 300px;
    }

    .backButton {
        left: 10px;
        font-size: 26px;
    }

    .LogRegTitle {
        font-size: 26px;
    }

    .GameTitle {
        left: 325px;
    }

    .GameMsg{
        left: 50px;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .GameContent {
        left: 75px;
        max-width: 425px;
        min-width: 250px;
    }

    .backButton {
        left: 7px;
        font-size: 22px;
    }

    .LogRegTitle {
        font-size: 26px;
        left: 120px;
    }

    .RegTitle {
        font-size: 28px;
        left: 5px;
    }

    .GameTitle {
        left: 320px;
    }

    .GameMsg{
        left: 50px;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .GameContent {
        left: 50px;
        max-width: 300px;
        min-width: 200px;
    }

     .backButton {
        left: 5px;
        font-size: 16px;
    }

    .LogRegTitle {
        font-size: 24px;
        left: 120px;
    }

    .RegTitle {
        font-size: 26px;
        left: 0;
    }

    .GameTitle {
        left: 310px;
    }
    .GameMsg {
        bottom: 215px;
        left: 40px;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    .GameContent {
        left: 50px;
        max-width: 250px;
        min-width: 150px;
    }

     .backButton {
        left: 5px;
        font-size: 14px;
    }

    .LogRegTitle {
        font-size: 22px;
        left: 118px;
    }

    .LogTitle {
        font-size: 26px;
    }

    .LogMsg {
        font-size: 15px;
        left: 1px;
    }

    .RegTitle {
        font-size: 20px;
        left: -2px;
    }

    .RegMsg {
        font-size: 14px;
    }

    .GameTitle {
        font-size: 24px;
        left: 295px;
    }

    .GameMsg {
        font-size: 14px;
        left: 70px;
    }
}