.StatsBar {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    line-height: 28px;
    width: 50%;
}

.Main {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 12px;
    color: white;
    background-color: white;
    outline: 2px 2px white;
    border: 8px solid white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.Rows {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 6px;
}

.NumContainer {
    display: flex;
    justify-content: space-around;
    width: 56%;
    gap: 14px;
    margin: 20px;
    cursor: pointer;
}

.NumRow {
    color: white;
    background-color: rgb(30,40,200);
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    padding: 10px 20px;
    font-size: 28px;
}

.NumRow:hover {
    border: 4px solid white;
}

@media (min-width: 768px) {
    .Main {
        width: 685px;
        height: 685px;
        padding: 0;
    }
}