.backButton { 
    position: absolute;
    font-size: 30px;
    height: 80px;
    left: 100px; 
    top: 36.75px;
    background-color: rgb(30,40,200);
    border: 4px solid white;
    border-radius: 8px;
    padding: 8px;
  }

  .Timer {
    position: relative;
    right: 50px;
    font-size: 18px;
  }

.StatsBar {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    line-height: 28px;
    width: 58%;
    border: 4px solid white;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(30,40,200);
    position: relative;
    top: 0;
}

.Main {
    display: flex;
    position: relative;
    bottom: 15px;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    padding: 12px;
    color: white;
    background-color: white;
    outline: 2px 2px white;
    border: 8px solid white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.Rows {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 6px;
}

.NumContainer {
    display: flex;
    position: relative;
    bottom: 40px;
    right: 20px;
    justify-content: space-around;
    width: 54.5%;
    gap: 14px;
    margin: 0 5px;
    cursor: pointer;
}

.NumRow {
    color: white;
    background-color: rgb(30,40,200);
    border: 4px solid white;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    padding: 15px 20px;
    font-size: 28px;
}

.NumRow:hover {
    border: 4px solid white;
}

@media (min-width: 768px) {
    .Main {
        width: 685px;
        height: 685px;
        padding: 0;
    }
}
