.GamesTableContainer {
  position: absolute;
  height: 300px;
  overflow-y: auto;
  top: 100px;
  font: 16px;
  border: 4px solid white;
  border-radius: 8px;
}

.GamesTableHeader {
    bottom: 215px;
    right: 450px;
}

.GamesTableContent {
  position: relative;
  font-size: 18px;
}

.GamesTableContent td {
    padding: 4px;
}

.EditForm {
  position: relative;
  right: 75px;
  top: 25px;
  
}

.EditGameBtns {
  position: relative;
  right: 25px;
}

/* .EditGame {
  display: flex;
  position: relative;
  right: 150px;
  top: 125px;
} */

.AddGame {
  position: relative;
  right: 250px;
  top: 230px;
}

.AddGameBtn, .Logoff, .LoginBtn, .LoginCancel, .Status, 
.EditBtn, .EditCancel, .EditBtnTB, .DltGame, .DeleteCancel, .DeleteBtnTB {
    background-color: black;
    border: 1px solid white;
    border-radius: 8px;
    padding: 4px;
    margin: 8px;
    font-size: 16px;
}

.EditBtnTB, .DeleteBtnTB {
    margin: 0;
}

.DiffiTxt, .MistTxt, .HintsTxt, .StatusLb, .Status, .DeleteGame {
    position: relative; 
}

.DiffiTxt, .MistTxt, .HintsTxt, .StatusLb {
    left: -75px;
    top: -18px;
}

.GameTainer {
    position: relative;
    width: 100%;
    white-space: nowrap;
}

.AddGameBtn, .Logoff {
    position: absolute;
    top: 270px;
    z-index: 10;
}

.AddGameBtn {
   right: 350px;
}

.Logoff {
  right: 250px;
}

.StatusLb{
    top: -28px;
}

.Status {
    bottom: 60px;
    left: -10px;
}

.DeleteGame {
    right: 120px;
    padding: 2px;
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .GamesTableHeader {
    bottom: 75px;
  }

  .GamesTableContent {
     left: 0;
  }

  .GamesTableContent td{
    max-width: 75px;
    padding: 6px;
  }

  .GamesTableContent{
    font-size: 16px;
  }

  .AddGameBtn {
    right: 350px;
  }
  .Logoff {
    right: 250px;
  }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
  .GamesTableHeader {
    bottom: 75px;
  }

  .GamesTableContent {
     left: 0;
  }

  .GamesTableContent td {
    max-width: 65px;
    padding: 4px;
  }

  .GamesTableContent{
    font-size: 14px;
  }

  .AddGameBtn {
    right: 350px;
  }

  .Logoff {
    right: 250px;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .GamesTableHeader {
    bottom: 75px;
    font-size: 22px;
  }

  .GamesTableContent {
     left: 0;
  }

  .GamesTableContent td {
    max-width: 32px;
    padding: 0;
  }

  .GamesTableContent{
    font-size: 12px;
  }

  .EditBtnTB, .DeleteBtnTB {
    font-size: 12px;
  }

  .AddGameBtn {
    right: 350px;
  }

  .Logoff {
    right: 250px;
  }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
  .GamesTableHeader {
    bottom: 75px;
    font-size: 11px;
  }

  .GamesTableContent {
     left: 0;
  }

  .GamesTableContent td {
    padding: 0;
    margin: 0;
  }

  .GamesTableContent{
    font-size: 12px;
  }

  .EditBtnTB, .DeleteBtnTB {
    font-size: 12px;
  }

  .DiffiTxt, .MistTxt, .HintsTxt, .StatusLb {
    left: -25px;
    top: -75px;
  }

  .Difficulty, .Mistakes, .Hints {
    top: -95px;
    
  }

  .Status {
    top: -105px;
    left: 45px;
  }

  .AddGame {
    right: 275px;
  }

  .AddGameBtn, .Logoff {
    top: 200px;
  }

  .AddGameBtn {
    right: 300px;
  }

  .Logoff {
    right: 225px;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .GamesTableHeader {
    bottom: 75px;
    font-size: 8px;
  }

  .GamesTableContent {
     left: 0;
  }

  .GamesTableContent td {
    padding: 0;
    margin: 0;
  }

  .GamesTableContent{
    font-size: 8px;
  }

  .EditBtnTB, .DeleteBtnTB {
    font-size: 10px;
  }

  .DiffiTxt, .MistTxt {
    left: -15px;
    top: -75px;
  }

  .HintsTxt, .StatusLb {
    left: -5px;
    top: -75px;
  }

  .Difficulty, .Mistakes, .Hints {
    top: -95px;
  }

  .Status {
    top: -105px;
    left: 45px;
  }

  .AddGameBtn, .Logoff {
    top: 200px;
  }

  .AddGameBtn {
    right: 300px;
  }

  .Logoff {
    right: 200px;
  }
}