.Title {
    display: flex;
    position: relative;
    /* 
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 500px;
    transform: scale(1.045);
    */
    width: 30vw;
    height: 80vh;
    z-index: -1;
    border: 8px solid white;
    border-radius: 8px;
}

.SignIn {
    position: absolute;
    right: 675px;
    top: 265px;
    background-color: transparent !important;
}

.SignIn img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    margin: 1rem;
     
}

.SignIn:hover img {
    border: 2px solid white;
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
    .Title {
        width: 30vw;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1600px) {
    .Title {
        width: 35vw;
    }
}


@media screen and (min-width: 1400px) and (max-width: 1500px) {
    .Title {
        width: 35vw;
    }
}


@media screen and (min-width: 1300px) and (max-width: 1400px) {
    .Title {
        width: 35vw;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .Title {
        width: 35vw;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
    .Title {
        width: 38vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
    .Title {
        width: 42vw;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    .Title {
        width: 42vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .Title {
        width: 45vw;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .Title {
        width: 50vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .Title {
        width: 60vw;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .Title {
        width: 75vw;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .Title {
        width: 75vw;
        right: 10px;
    }
}

@media screen and (min-width: 300px) and (max-width: 400px) {
    .Title {
        width: 70vw;
        right: 10px;
    }
}


/* .Options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Settings, .Controls, .Inst, .SignIn, .Start, .Resume {
    border-radius: 8px;
    padding: 8px;
    position: absolute;
}

.Settings {
    width: 115px;
    left: 640px;
    bottom: 100px;
}

.Controls {
    width: 115px;
    left: 770px;
    bottom: 100px;
}

.Inst {
    width: 130px;
    height: 45px;
    right: 715px;
    bottom: 100px;
} */


/* .Start {
    width: 100px;
    height: 60px;
    bottom: 95px;
    left: 650px;
}

.Resume {
    width: 160px;
    bottom: 95px;
    left: 760px;
}

.Start:hover, .Resume:hover {
    cursor: pointer;
}

.Start:active, .Resume:active {
    transform: scale(0.75);
} */