.Title {
    display: flex;
    position: relative;
    /* 
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 500px;
    transform: scale(1.045);
    */
    width: 30vw;
    height: 80vh;
    z-index: -1;
    border: 8px solid white;
    border-radius: 8px;
}

.SignIn {
    position: absolute;
    right: 675px;
    top: 265px;
    background-color: transparent !important;
}

.SignIn img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    margin: 1rem;
     
}

.SignIn:hover img {
    border: 2px solid white;
}

/* .Options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Settings, .Controls, .Inst, .SignIn, .Start, .Resume {
    border-radius: 8px;
    padding: 8px;
    position: absolute;
}

.Settings {
    width: 115px;
    left: 640px;
    bottom: 100px;
}

.Controls {
    width: 115px;
    left: 770px;
    bottom: 100px;
}

.Inst {
    width: 130px;
    height: 45px;
    right: 715px;
    bottom: 100px;
} */


/* .Start {
    width: 100px;
    height: 60px;
    bottom: 95px;
    left: 650px;
}

.Resume {
    width: 160px;
    bottom: 95px;
    left: 760px;
}

.Start:hover, .Resume:hover {
    cursor: pointer;
}

.Start:active, .Resume:active {
    transform: scale(0.75);
} */