@import "tailwindcss";

@layer base {
   :root {
      /* Default theme */
      --primary-background-color: #fff;
      --secondary-background-color:#f7f7f7;
      --primary-text-color:#000;
      --input-bg: #f3f4f6;
      --input-text: #000;
      --input-border: #000;

   }

   :root[data-theme="dark"]{
    --primary-background-color: #1f2028;
    --secondary-background-color:#2e3039;
    --primary-text-color:rgba(255, 255, 255);
    --input-bg: #374461;
    --input-text: #fff;
  }

  :root[data-theme="blue"]{
    --primary-background-color: rgba(24, 16, 255, 1);
    --secondary-background-color:rgba(14, 16, 240, 1);
    --primary-border-color:#059bff;
    --primary-text-color:rgba(255, 255, 255, 0.87);
    --input-bg: #1e3a8a;
    --input-text: #fff;
  }

  :root[data-theme="red"]{
    --primary-background-color: rgba(255, 0, 0, 1);
    --secondary-background-color:rgb(233, 53, 37);
    --primary-text-color:rgba(255, 255, 255);
    --input-bg: #991b1b;
    --input-text: #fff;
  }
  
    html {
    background-color: var(--primary-background-color);
    transition: background-color 0.3s ease;
  }

  body {
    @apply m-0 p-0 h-full w-full;
    background-color: var(--primary-background-color);
    transition: background-color 0.3s ease;
  }

  #app {
    @apply h-full min-h-screen;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

@layer components {
   .form-gui {
    @apply flex border-2 border-black rounded-lg;
    background-color: var (--input-bg);
    border-color: var(--input-border);
    color: var(--input-text);

    background-color: var(--primary-background-color);
    border-color:var(--primary-border-color);
    color: var(--primary-text-color)
  }

  .form-gui::placeholder {
    color: var(--input-placeholder-color);
   @apply text-center
  }
      
  .card-themed {
    @apply bg-[var(--primary-background-color)] 
           border-[var(--primary-border-color)] 
           text-[var(--primary-text-color)]
  }

  .theme-options {
  @apply bg-[var(--primary-background-color)] 
          border-[var(--secondary-border-color)] 
          text-[var(--secondary-text-color)]
}

  .btn-style-1 {
     @apply border-2 border-black p-2 mb-2
  }

  .btn-style-1:hover {
    @apply cursor-pointer bg-blue-400
  }
   .btn-style-2 {
     @apply border-2 border-black p-2 mt-1
  }

  .btn-style-2:hover {
    @apply bg-red-500 cursor-pointer
  }
}